body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.phone {
    height: 750px;
    width: 430px;
    background: rgb(149, 32, 216);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header, footer {
    height: 50px;
    background: rgb(78, 10, 109);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    height: 30px;
    width: 70px;
    margin: 0 15px;
}
.cards {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card {
    margin: 20px;
    display: flex;
}
.media-object {
    height: 150px;
    width: 150px;
    background: #999999;
}

.content {
    margin-left: 15px;
}
.cont-1 {
    width: 150px;
    height: 25px;
    background: #999999;
}
.cont-2 {
    width: 120px;
    height: 25px;
    background: #999999;
    margin: 15px 0px;
}
.cont-3 {
    width: 90px;
    height: 25px;
    background: #999999;
}